@import '../colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  .main {
    border-bottom: 1px solid $border-bg;
    flex: 1 1 100%;
    display: flex;

    .taglist {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 25px;
      max-width: 300px;
      width: 100%;
      border-right: 1px solid $border-bg;

      .tag-aside {
        color: $text-color;
        font-size: 18px;
        width: 80%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $second-color;
        border-radius: 5px;
        border: 1px solid $border-bg;

        &:hover {
          color: $hover-border;
          border: 1px solid $hover-border;
          background-color: $main-color;
        }
      }
    }

    .main-notes-container {
      overflow-y: auto;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      padding: 25px;
    }
  }

  .footer {
    width: 100%;
    min-height: 130px;
    height: 100%;
    border-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search {
  width: 75%;
  height: 40px;
}
