@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.wrapper .main {
  border-bottom: 1px solid #767590;
  flex: 1 1 100%;
  display: flex;
}
.wrapper .main .taglist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  max-width: 300px;
  width: 100%;
  border-right: 1px solid #767590;
}
.wrapper .main .taglist .tags-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45px;
  background-color: #92919d;
  color: #e3e2ed;
  border: 1px solid #767590;
  border-radius: 5px;
  padding: 5px 15px;
}
.wrapper .main .taglist .tags-control:hover {
  color: #3d3d42;
  border: 1px solid #3d3d42;
  background-color: #6f6f7f;
}
.wrapper .main .taglist .tags-control .tag-aside {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #e3e2ed;
}
.wrapper .main .main-notes-container {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}
.wrapper .footer {
  width: 100%;
  min-height: 130px;
  height: 100%;
  border-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 75%;
  height: 40px;
}

.modal-window-component {
  padding: 35px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  min-width: 360px;
  width: 100%;
  max-width: 467px;
  background-color: #92919d;
  opacity: 1;
}

.modal-overlay-component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(118, 117, 144, 0.9);
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.note-modal {
  width: 100%;
}

.note-item {
  display: inline-block;
  overflow-y: scroll;
  padding: 15px;
  min-width: 300px;
  max-width: 650px;
  width: auto;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 20px;
  border: 1px solid #767590;
  background: #92919d;
  border-radius: 5px;
  max-height: 400px;
  word-wrap: break-word;
}
.note-item .note-item-header {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6f6f7f;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.note-item .note-item-header .note-item-control {
  display: flex;
  gap: 10px;
}
.note-item .note-item-tag-container {
  display: inline-flex;
  align-items: center;
}
.note-item .note-item-tag-container .note-item-tag {
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
  background-color: #6f6f7f;
  padding: 2px 5px;
  color: #e3e2ed;
  position: relative;
}
.note-item .note-item-tag-container .delete-button {
  margin-right: 5px;
  font-size: 12px;
  height: 10px;
  width: 10px;
  margin-left: 3px;
  color: #e3e2ed;
}

html,
body {
  color: #e3e2ed;
  background-color: #6f6f7f;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

input,
textarea {
  outline: none;
}

* {
  font-family: Raleway;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  margin: 15px 0;
  width: 100%;
  height: 100%;
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #767590;
  border-radius: 5px;
  background-color: #6f6f7f;
  width: 30%;
  height: 45px;
  font-size: 18px;
  color: #e3e2ed;
}

.reset {
  margin: 0 25px;
  max-width: 90px;
  background-color: #92919d;
}

.note-text {
  padding: 10px;
  font-size: 18px;
  font-family: Raleway;
  color: #e3e2ed;
  background: #92919d;
  border-radius: 5px;
  border: 1px solid #767590;
  width: 100%;
  height: 30%;
}

.icon-button {
  color: #e3e2ed;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e2ed;
}
.icon-button:hover {
  border: 1px solid #3d3d42;
  color: #3d3d42;
}

.square {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #92919d;
}

.input-text {
  border: 1px solid #767590;
  background-color: #92919d;
  border-radius: 5px;
  padding: 10px;
  color: #e3e2ed;
  font-size: 18px;
  font-family: Raleway;
}

.tag-selected-indicator {
  font-size: 12px;
  color: #e3e2ed;
}

/*# sourceMappingURL=index.css.map */
